@mixin mq($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin tablet {
  @include mq(500px) {
    @content;
  }
}

@mixin desktop {
  @include mq(900px) {
    @content;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img {
  @include tablet {
    width: 45vw;
  }
  @include desktop {
    width: 32vw;
  }
}
